{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>YuKalix个人博客 - 一个走在全栈开发师之路的程序猿个人博客网站</title>
<meta name="keywords" content="个人博客,YuKalix个人博客" />
<meta name="description" content="YuKalix个人博客，是一个走在全栈开发师之路的程序猿的个人网站，提供个人成长经历,个人经验,遇到的各种填坑方式" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link REL="SHORTCUT ICON" HREF="{% static "images/favicon.ico" %}"/>
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/m.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
<!--[if lt IE 9]>
<script src="{% static 'js/modernizr.js' %}"></script>
<![endif]-->
<script src="{% static 'js/page.js' %}"></script>
</head>
    {% block body %}
    {% endblock %}

{% block js %}
{% endblock %}
</html>
